.product__screen{
    max-width: 1300px;
    margin: 1rem auto;
    display: flex;
	flex-direction:column;
}

.product__screen__section1,
.product__Screen__Section2,
.product__Screen__Section3{
	width:100%;
	margin: 0;
	padding:0;
}
.product__screen__section1{
 display:flex;
}
.product__screen__horizontal__line{
	margin: 1rem;
	border: 1px solid rgba(125, 125, 125, 0.2);
}
.productscreen__left{
    display: flex;
    flex:0.75;
	border-right: 1px solid rgba(125, 125, 125, 0.2);
}

.productscreen__right{
 padding:0px;
 flex:0.25;
}
.section__header{
	margin: 1rem;
}

@media (max-width: 1232px) {
    .product__screen{
        max-width: 1100px;
    }
}
@media (max-width: 1100px) {
    .product__screen{
        max-width: 960px;
    }
}
@media (max-width: 960px){
	.product__Screen__Section1{
		flex-direction:column;
	}
    .productscreen__left{
        flex-direction: column;
        flex: 1;
    }
    .productscreen__right{
        display: none;
    }
}
 @media (max-width: 850px) {
      .product__screen{
          max-width: 800px;
      }
  }