.customers{
    width:100%;
    margin-top: 20px;
}

.customers__header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.customers__header .search__container{
    flex: 0.6;
}
.customers__table__container{
    margin-top: 20px;
    width: 100%;
}
.customers__table{
    width: 100%;
}
.customers__table thead tr th{
  height: 30px;
  border-top: 1px solid #797a7a;
  border-bottom: 1px solid #797a7a;
}

.customers__table tbody tr{
    height: 80px;
}
.customers__table tbody tr td{
    text-align: center;
}
.customers__table tbody tr:nth-child(odd){
 background-color: #dbdbdb;
}
.admin__edit__button{
    background-color: rgb(92, 184, 92);
    padding:5px;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
.admin__delete__button{
    background-color: 	rgb(217, 83, 79);
    padding:6px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.found__results{
    margin-top: 20px;
    text-align: center;
}
.clear__Search{
    color:purple;
    cursor: pointer;
}

.clickable{
    cursor: pointer;
    text-decoration:underline;
}

@media (max-width: 700px) {
    .customers{
        font:0.5rem;
    }
    .customers__header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .customers__header .search__container{
        /* flex: 1; */
        width: 100%;
    } 
    .customers__header__left{
        flex: 1;
        order: 2;
        margin-top: 10px;
    }
    .hide__at__mobile{
        display: none;
    }
    .same{
        width: 40%;
    }

}
