.navbar{
    width: 100%;
    background-color: #ffffff;
    margin: 0px auto;
    text-align: center;
}
.navbar__container{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.5rem; 
    margin: 0px auto;
}


.navbar__links {
    display: flex;
    list-style: none;
    align-items: center;
    /* margin: 0px; */
}

/*STYLING ALL OF THE lis IN navbar__links */
.navbar__links >li {
    padding-left: 1.5rem;
}
.navbar__logo a,
.navbar__links > li > a,  
.navbar__links > li > p{
    text-decoration: none;
    color: var(--greyish-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 1.3rem;
    padding-bottom: 0.6rem;
    transition: 0.4s;
    border-bottom: 4px solid white;
}
.navbar__logo a{
    letter-spacing: 3px;
    font-size: 2rem;
    color: var(--reddish-color);
    border:none;
    padding:0px;
}
.navbar__links > li > a:hover,
.navbar__links > li > p:hover{
    border-bottom:4px solid var(--reddish-color);
}
#cart__link:hover{
    border-bottom: 4px solid white;
    color: var(--reddish-color);
}


.navbar__links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
}


#cart__link > span{
  font-size: 1rem;
  transition: 0.4s;
}
#cart__link > span:hover{
    color: var(--reddish-color);
  }
#currently__cart{
    color: var(--reddish-color);
    background-color: white;
}

/* RESPONSIVE DESIGN */
@media (max-width: 960px){
    .navbar__links {
        display: none;
    }
    .hamburger__menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 500px){
    .navbar__logo a{
        font-size: 1.5rem;
      }
}