.orders{
    width:100%;
    margin-top: 20px;
}

.orders__header{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.orders__header__left{
 display: flex;
 align-self: flex-end;
}
.orders__header__right__select__rows{
    margin-left: 20px;
}
.orders__header .search__container{
    flex: 0.6;
} 

.orders__table__container{
    margin-top: 20px;
    width: 100%;
}
.orders__table{
    width: 100%;
}
.orders__table thead tr th{
  height: 30px;
  border-top: 1px solid #797a7a;
  border-bottom: 1px solid #797a7a;
}

.orders__table tbody tr{
    height: 80px;
}
.orders__table tbody tr td{
    text-align: center;
}
.orders__table tbody tr:nth-child(odd){
 background-color: #dbdbdb;
}
.admin__actions__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.admin__edit__button{
    background-color: rgb(92, 184, 92);
    padding:6px;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 5px;
    /* margin-top: 10px; */
    /* align-self: center; */
}
.admin__delete__button{
    background-color: 	rgb(217, 83, 79);
    padding:6px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 5px;
}

.found__results{
    margin-top: 20px;
    text-align: center;
}
.clear__Search{
    color:purple;
    cursor: pointer;
}

@media (max-width: 700px) {
    .orders__header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    /* align-items: flex-start; */

    }
    .orders__header .search__container{
        flex: 1
        
    } 
    .orders__header__left{
        flex: 1;
        order: 2;
        margin-top: 10px;
    }
    .orders__header__right__select__rows{
        margin-left: 10px;
    }
   
}
@media (max-width: 700px){
    .orders{
        font:0.5rem;
    }
}