.cartscreen__page{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    align-items: center;
    margin: 2rem auto;
}
.cartscreen__page__empty{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    align-items: center;
    margin: 2rem auto;
}
.cartscreen__page__empty__content{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartscreen{
    display: flex;
    width: 100%;
    margin-top:1rem;
}

/* .cartscreen h2{
    margin-bottom: 1rem;
} */

.cartscreen__left {
    flex: 0.7;
    margin-right: 1rem;
    background-color: transparent;
    padding:1rem;
}
.cartscreen__continue__shopping{
    background-color: black;
    border: none;
    padding: 10px;
    width: auto;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}
.cartscreen__right {
    margin-top: 1rem;
    flex: 0.3;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
}

.cartscreen__right div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.cartscreen__right div:last-child{
    border: none;
}

.cartscreen__info p {
    padding: 8px;
}

.cartscreen__right div button {
    padding: 10px 17px;
    width: 100%;
    background: #171717;
    color: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer
}

.cartscreen__update__cart{
    margin-left: 10px;
    /* border:  */
    background-color:white ;
    border: 2px solid black;
    padding: 10px;
    width: auto;
    color: black;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}

.cartscreen__right div button:hover{
    opacity: 0.9;
}

@media (max-width: 1320px){
    .cartscreen{
        max-width: 1100px;
    }
}
@media (max-width: 1100px){
    .cartscreen{
        max-width: 960px;
    }
}
@media (max-width: 960px){
    .cartscreen{
        max-width: 800px;
        flex-direction: column;
    }
    .cartscreen__left{
     margin: 0;   
    }
    .cartscreen__right{
        margin: 1rem;
    }
   
}